/* # fonts, root */

/* font imports - headings */

@font-face {
    font-family: 'Bondi';
    src: url("assets/fonts/bondi-regular-font/Bondi-oZRx.ttf");
}

/* font imports - body text */

@font-face {
    /* regular */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSans-Eagg.ttf");
    font-weight: 400;
}

@font-face {
    /* bold */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSansBold-3zny.ttf");
    font-weight: 700;
}

@font-face {
    /* bold italic */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSansBoldItalic-x35V.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    /* italic */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSansItalic-p76v.ttf");
    font-style: italic;
}

@font-face {
    /* black italic */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSansBlackItalic-ZVXl.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    /* black */
    font-family: 'Perspective Sans';
    src: url("assets/fonts/perspective-sans-font/PerspectiveSansBlack-OVro.ttf");
    font-weight: 900;
}

/* root variables */

:root {
    --heading-font-family: 'Bondi';
    --heading-font-size: calc(24px + 1vmin);
    --sub-heading-font-size: calc(18px + 1vmin);
    --body-font-family: 'Perspective Sans';
    --body-font-size: calc(14px + 1vmin);
    --sub-body-font-size: calc(8px + 1vmin);
    --colour-1: #fbfaf8;
    --colour-2: #e3dfd4;
    --colour-3: #b17457;
    --colour-4: #4a4947;
    --colour-5: #111010;
    --colour-6: #5794B1;
    --colour-7: #719eb3;
    --navbar-width: calc(300px + 2vw);
    --navbar-height: calc(300px + 2vh);
    --navbar-toggle-width: calc(35px + 0.5vw);
}

/* # navigation */

/* responsiveness */

@media only screen and (min-width: 900px) {

    #navbar {
        width: var(--navbar-width);
        height: 100vh;
    }

    #nav-toggle {
        align-self: flex-start;
    }

    #nav-toggle, #nav-toggle.nav-enabled {
        left: calc(var(--navbar-width) - var(--navbar-toggle-width) - 20px);
    }

    #nav-toggle.nav-disabled {
        left: 0px;
    }

    .menu-container {
        height: 100vh;
    }

    article {
        top: 0;
        height: 100vh;
    }

    article, article.nav-enabled {
        left: var(--navbar-width);
        width: calc(100vw - var(--navbar-width));
    }

    article.nav-disabled {
        left: 0;
        width: 100vw;
    }

    section {
        max-width: 50em;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {

    #navbar {
        width: 100vw;
        height: var(--navbar-height);
    }

    #nav-toggle {
        justify-self: flex-end;
        align-self: flex-end;
    }

    #nav-toggle, #nav-toggle.nav-enabled {
        top: calc(var(--navbar-height) - var(--navbar-toggle-width) - 20px);
    }

    #nav-toggle.nav-disabled {
        top: 0px;
    }

    .menu-container {
        height: max-content;
        align-items: center;
    }

    .menu-container li {
        justify-content: center;
    }

    article {
        left: 0;
        width: 100vw;
    }

    article, article.nav-enabled {
        top: var(--navbar-height);
        height: calc(100vh - var(--navbar-height));
    }

    article.nav-disabled {
        height: 100vh;
        top: 0;
    }
    
}

/* main container */

#navbar {
    font-family: var(--heading-font-family);
    font-size: var(--sub-heading-font-size);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    background-color: var(--colour-3);
}

#navbar.nav-enabled {
    display: block;
}

#navbar.nav-disabled {
    display: none;
}

#nav-toggle {
    position: fixed;
    display: flex;
    margin: 10px;
    padding: 6px;
    width: var(--navbar-toggle-width);
    height: auto;
    color: var(--colour-2);
    background-color: transparent;
    border: none;
    transition: all 0.2s;
    background-color: var(--colour-3);
    border-radius: 2px;
    z-index: 5;
}

#nav-toggle:hover {
    color: var(--colour-1);
}

/* inner container containing menu items */

.menu-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: space-around;
    list-style: none;
    padding: 0;
}

/* menu items */

.menu-container li {
    cursor: pointer;
    display: flex;
    margin: 2vh;
    padding: 0.2px;
}

.menu-container a {
    text-decoration: none;
    color: var(--colour-2);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.menu-container a:visited {
    color: var(--colour-2);
}

.menu-container a:hover {
    scale: 103%;
    color: var(--colour-1);
}

.menu-container a.active,
.menu-container a.active:hover,
.menu-container li:has(a.active),
.menu-container li:has(a.active):hover {
    color: var(--colour-1);
    pointer-events: none;
    cursor: none;
}

/* # main page content */

/* positioning */

article {
    margin: 0;
    overflow-y: scroll;
    position: fixed;
}



footer {
    position: fixed;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* text */

body, button,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
select, option {
    font-family: var(--body-font-family);
}

body, button, select, option {
    font-size: var(--body-font-size);
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
.disclaimer-text {
    font-size: var(--sub-body-font-size);
}


body {
    color: var(--colour-5);
}

h1, h2 {
    text-align: center;
    font-family: var(--heading-font-family);
}

h1 {
    font-size: var(--heading-font-size);
}

h2 {
    font-size: var(--sub-heading-font-size);
}

p {
    margin: 12px;
}

a {
    color: var(--colour-6);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

a:hover, a:active {
    scale: 103%;
}

a:active, a:visited {
    color: var(--colour-3);
}

footer > ul, .no-marker {
    list-style: none;
}

/* buttons and inputs */

.call-to-action {
    font-family: var(--heading-font-family);
    background-color: var(--colour-6);
    color: var(--colour-1);
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    margin: 24px;
}

.call-to-action:hover {
    background-color: var(--colour-7);
    transform: scale(104%);
    -webkit-transform: scale(104%);
    -moz-transform: scale(104%);
    -ms-transform: scale(104%);
    -o-transform: scale(104%);
}

input {
    outline: none;
}

/* booking */

.flex-item-container > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
        justify-self: end;
    }
}

